td {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
color: #000000;
line-height:18px;


}
.quote {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: none;
color:  #fff;
line-height:17px;

}

:hover.quote {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: underline;
color:#EB9E2A;


}

.bottom {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: none;
color: #666666;

}

:hover.bottom {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: underline;
color: #D69610;


}


.tabletop_text{padding-right:10px;
padding-left:5px;
font-family:verdana;
font-size:11px; 
color:#ffffff;
line-height:1px;
text-align:center;
margin:8px 0px 8px 0px;
}
.tablebottom_text{

padding-right:10px;
padding-left:2px;
font-family:verdana;
font-size:11px; 
color:#000000;
line-height:22px;
text-align: left;
margin:0px 0px 0px 0px;
}
.goodlon_text{
font-family: Georgia, "Times New Roman", Times, serif;
font-size:22px; 
color:#2BA3E7;
font-weight:bold;
}
.main_text{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:17px; 
color:#505050;
font-weight:bold;
}

.main_blue{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:17px; 
color:#46AFEA;
font-weight:bold;
}
.top_text2{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:11px; 
color:#fff;
font-weight:bold;
text-align:center;
}
.specification{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:12px; 
color:  #000000;
}

.profile{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:12px; 
color: #333333;
line-height:20px;
text-align:justify;
}

.menulink {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
color:#CCCCCC;

}

:hover.menulink {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: underline;
color:#00CCFF;
}

.copy {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: none;
color: #FFFC00;

}

:hover.copy {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: underline;
color: #666666;


}
.linesin {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
text-decoration: none;
color: #000;
font-weight:bold;

}

.vehicles {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
color:#2785C5;

}

:hover.vehicles {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: underline;
color:#000;
}

.topwording {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
line-height:15px;
color: #666666;
}

.all_text {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #4b4b4b; 
line-height:20px;
 text-align:justify;
}

.quick_contact {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
text-decoration: none;
font-weight:bold;
color: #333333;

}


.quick_contact1 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 15px;
text-decoration: none;
font-weight:bold;
color: #333333;
}


.quick_contact11 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 13px;
text-decoration: none;
font-weight:bold;
color: #448ECB;
}

.cyclone_link {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
color: #444;
}

:hover.cyclone_link {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration:underline;
color: #448ECB;
}

.all_hadding1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
text-decoration: none;
font-weight:bold;
color: #448ECB;
}

.top_no {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #4b4b4b; 
text-align:justify;


}




.quick_email_link {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #D8A60E; 
line-height:20px;
text-align:justify;


}

:hover.quick_email_link {
font-family:  Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: underline;
color: #990000;


}


.quick_bottom_link {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #6d6d6d; 
line-height:20px;
text-align:justify;
font-weight:bold;


}

:hover.quick_bottom_link {
font-family:  Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: underline;
color:  #990000;
font-weight:bold;

}

.quick_contact_link {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: none;
color:  #696969;
font-weight:bold;

}
:hover.quick_contact_link {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: underline;
color: #990000;
font-weight:bold;

}



.inet_link {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: none;
color:  #696969;
font-weight:bold;

}


:hover.inet_link {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: underline;
color:  #FA9716;
font-weight:bold;

}


.bottom_copyright {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: none;
color:  #696969;

}

.yellow_links {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
color:  #F89617;
font-weight:bold;


}

:hover.yellow_links {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
color: #333333;
font-weight:bold;


}


.all_pages_headings {
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
text-decoration: none;
color:  #282828;
font-weight:bold;


}

.all_pages_headings2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: none;
color: #666666;


}




.vr_hadding {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
color: #8FA43D;
font-weight:bold;
}

.all_pages_headings3 {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
color: #444;
line-height:21px;

}



.r-tek-info {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration:underline;
color: #86a607;
line-height:21px;

}



.r-tek-contact {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration:none;
color: #86a607;
line-height:21px;

}





.left_menu {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
color: #444;
line-height:21px;
background-image:url(menu_bg.html);

}

.left_menu {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight:bold;
text-decoration: none;
color: #444;
line-height:21px;
background-image:none;


}
:hover.left_menu {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
text-decoration: none;
font-weight:bold;
color: #fff;
line-height:21px;
background-image:url(menu_bg.html);

}


.arrow {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight:bold;
text-decoration: none;
color: #130C06;
line-height:21px;
background-image:none;


}
:hover.arrow {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
text-decoration: none;
font-weight:bold;
color: #fff;
line-height:21px;
background-image:url(imagess/menu_bg1.html)

}


.all_pages_headings3_bold {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
color: #666;
font-weight:bold;
line-height:21px;

}


.number {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
text-decoration: none;
color: #889C3B;
font-weight:bold;
line-height:21px;

}



.top {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
color: #fff;

line-height:21px;

}


:hover.top {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
color: #86a607;

line-height:21px;

}

.quick_star {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
text-decoration: none;
color: #F89617;
font-weight:bold;

}

.all_text {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #4b4b4b; 
line-height:20px;
 text-align:justify;
}

.style105 {	color:#333333;
	font-weight: bold;
	font-size: 18px;
}





.quick_email_link {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color:#CC3300; 
line-height:20px;
text-align:justify;


}

:hover.quick_email_link {
font-family:  Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: underline;
color: #333333;

}

.product_menu_heading1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
text-decoration: none; 
color: #930D01;
line-height:21px;
font-weight:bold;

}

.product_menu_heading2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none; 
color: #333333;
line-height:21px;


}

.bottom_copyright {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #7f6b5c;
text-align:justify;
text-decoration: none;
}

.top_spacer {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #c7b79f;
text-align:justify;
text-decoration: none;
}

.bottom_spacer {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #7f6b5c;
text-align:justify;
text-decoration: none;
}

.bottom_links {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #d2c5ae;
text-align:justify;
text-decoration: none;
}

:hover.bottom_links {

font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #fff; 
text-align:justify;
text-decoration: none;
text-decoration:underline;
}

.top_links {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #c7b79f;
text-align:justify;
text-decoration: none;
}

:hover.top_links {

font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #fff; 
text-align:justify;
text-decoration: none;
text-decoration:underline;
}

.top_links2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #fff;
text-align:justify;
text-decoration: none;
}

:hover.top_links2 {

font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #fff; 
text-align:justify;
text-decoration: none;
text-decoration:underline;
}


.bottom_links_designed {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #999999; 
text-align:justify;
font-weight: bold;
text-decoration: none;


}

.all_pages_headings {
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
text-decoration: none;
color:  #fff;
font-weight: normal;


}



.product_menu_heading {
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
text-decoration: none; 
color: #930D01;
line-height:21px;
font-weight:bold;

}




.product_desc {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
text-decoration: none; 
color: #666666;
line-height:21px;
font-weight:bold;

}

.back
{
background-color:#CCCCCC;
}

.tech_specification {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
text-decoration: none; 
color: #666666;
line-height:21px;
font-weight:bold;

}

.key_features {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
text-decoration: none; 
color: #930D01;
line-height:21px;
font-weight:bold;
}

.all_pages_bold {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none; 
color: #666666;
line-height:21px;
font-weight:bold;

}


.table_title_white {
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
text-decoration: none; 
color: #FFFFFF;
line-height:21px;

padding: 0px 0px 0px 5px;  

}


.table_title_old {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: none; 
color: #FFFFFF;
line-height:21px;
font-weight:bold;
padding: 0px 0px 0px 5px;  

}

.table_title {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none; 
color: #FFFFFF;
line-height:21px;

padding: 0px 0px 0px 5px;  

}

:hover.table_title {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none; 
color: #48C1FA;
line-height:21px;
font-weight:bold;
padding: 0px 0px 0px 5px;  
text-decoration:underline;

}




.table_title11 {
font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
text-decoration:underline; 
color: #45BBFF;
line-height:21px;
font-weight:bold;
padding: 0px 0px 0px 5px;  

}

.table_title_link {
font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
text-decoration:underline; 
color: #45BBFF;
line-height:20px;

padding: 0px 0px 0px 5px;  

}

:hover.table_title_link {
font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
text-decoration:underline; 
color: #000000;
line-height:20px;

padding: 0px 0px 0px 5px;  

}



.table_txt {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: none; 
color: #333333;
line-height:21px; text-align:center;

}

.gray_background_pic { 
display:block;   width:159px; height:150px;
background-image:url(images/small.html);
background-repeat:no-repeat;
text-align:center; 
color: #000; 
font-weight:bold;
font-family:Verdana;
padding: 20px 0px 0px 0px;  


}

:hover.gray_background_pic {
display:block;
width:159px; height:150px;
background-image:url(images/small_hover.html); 
text-align:center; 
color: #CC3300; 
font-weight:bold;
padding: 20px 0px 0px 0px;  
}





.style7 
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
color:#B40202;

}

:hover.style7 
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: underline;
color:#000000;

}


.bottom1 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
color: #666666;

}

:hover.bottom1 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: underline;
color: #D69610;

}


.bottom_links1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #999999; 
text-align:justify;
font-weight: bold;
text-decoration: none;


}

:hover.bottom_links1 {

font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
color: #B40202; 
text-align:justify;
font-weight: bold;
text-decoration: none;
text-decoration:underline;


}
.inet{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;

}
:hover.inet{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration:underline;
}


.text_all_pages {
font-family:  Arial, Helvetica, sans-serif;
font-size: 11px;
color:  #000000; 
text-align:justify;
line-height:19px;
text-decoration: none;
}


.services_link1 {
font-family:  Arial, Helvetica, sans-serif;
font-size: 12px;
color:  #ffffff; 
text-align:justify;
line-height:19px;
text-decoration: none;


}

:hover.services_link1 {
font-family:  Arial, Helvetica, sans-serif;
font-size: 13px;
color:  #44C0FF; 
text-align:justify;
line-height:19px;
text-decoration:underline;


}


.services_link {
font-family:  Arial, Helvetica, sans-serif;
font-size: 13px;
color:  #000000; 
text-align:justify;
line-height:19px;
text-decoration: none;
font-weight: bold;


}

:hover.services_link {
font-family:  Arial, Helvetica, sans-serif;
font-size: 13px;
color:  #44C0FF; 
text-align:justify;
line-height:19px;
text-decoration:underline;


}






.text_all_pages_title {
font-family:  Arial, Helvetica, sans-serif;
font-size: 20px;
color:  #232323; 
line-height:30px;
text-decoration: none;
font-weight:bold;


}

.text_all_pages_bold {
font-family:Arial, Helvetica, sans-serif;
font-size: 17px;
color: #000000; 
text-align:justify;
line-height:30px;
font-weight:bold;
text-decoration: none;

}


.contact1
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
color:#e0dacf;


}

:hover.contact1
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: underline;
color:#000000;


}



#footer3 {
	float: none;
	width: 195px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#footer3 ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal; 
}

#footer3 li {
	margin-bottom: 0px;
	padding: 4 0 0px 3px;
	list-style-type:none;
	border-bottom: 1px dashed #000;

}

#footer3 li  a { 

	padding-left:22px;  
	color: #000;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: capitalize; 
	background: url(images/arrow_01.gif) no-repeat ; 
	text-decoration:none; display:block; height:21px;

}

#footer3 li a:hover {

	padding-left:15px;  
	color: #e0dacf;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: capitalize; 
	background: url(images/arrow_02.gif) no-repeat ; 
	text-decoration:none;
	font-weight:bold; display:block; height:21px;
}


.all-titles-l {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight:bold;
text-decoration: none;
color: #130C06;
line-height:21px;
background-image:none; padding-left:10px; padding-bottom:10px; 

}

:hover.all-titles-l {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight:bold;
text-decoration: underline;
color: #990000;
line-height:21px;
background-image:none; padding-left:10px; padding-bottom:10px; 

}


.all-titles-r {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight:bold;
text-decoration: none;
color: #e0dacf;
line-height:21px;
background-image:none; padding-bottom:10px; text-transform:uppercase;

}

.menu-titles-r {
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
font-weight:bold;
text-decoration: none;
color: #990000;
line-height:21px;
background-image:none; padding-left:12px;

}

.all-titles-r1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
text-decoration: none;
color: #000000;
line-height:18px; font-weight:bold;
background-image:none; padding-bottom:10px; line-height:25px;

}

.checkinout {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: none;
color: #e0dacf;
line-height:18px;
background-image:none; padding-bottom:10px;

}

.menu-red-head {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
text-decoration: none;
color: #990000;
font-weight:bold;
line-height:25px;

}

.menu-2-head {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: none;
color: #006600;
font-weight:bold;
line-height:22px;

}

.menu-details {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
color: #000000;
line-height:18px;

}

.pages-wording {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
color: #d2c5ae;
line-height:20px;

}


.bottom_links_enquiry {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #d2c5ae;
text-align:justify;
text-decoration: none;
padding-left:10px;
line-height:22px;
}

:hover.bottom_links_enquiry {

font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #fff; 
text-align:justify;
text-decoration: none;
text-decoration:underline;
padding-left:10px;
line-height:22px;
}


.news_links {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #d2c5ae;
text-align:justify;
text-decoration: none;
padding-left:10px;
line-height:22px; text-transform:uppercase;
}

.tariff {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight:bold;
text-decoration: none;
color: #130C06;
line-height:21px;
background-image:none; padding-left:10px; 

}


.tariffrates {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight:bold;
text-decoration: none;
color: #E9E4DC;
line-height:21px;
background-image:none; padding-left:5px; 

}

.input{ color:#000; background-color: #D6CDBE; border:1px dashed #B4A68B; height:20px; width:180px; height:25px; text-align:left; line-height:18px; }

.input2{ color:#000; background-color: #D6CDBE; border:1px dashed #B4A68B; height:20px; width:50px; height:25px; text-align:left; line-height:18px; }

.input3{ color:#000; background-color: #D6CDBE; border:1px dashed #B4A68B; height:20px; width:250px; height:25px; text-align:left; line-height:18px; }

.submit{ color:#000; background-color: #241B14; border:1px dashed #B4A68B;  width:100px; height:25px; text-align:left; line-height:18px; ; color:#B4A68B; text-align:center;}

.newsborder
{
border-bottom: 1px dashed #000;
border-left: 1px dashed #000;
border-right: 1px dashed #000;
}


.input4{ color:#000; background-color: #D6CDBE; border:1px dashed #B4A68B; height:20px; width:300px; height:25px; text-align:left; line-height:18px; }

.input5{ color:#000; background-color: #D6CDBE; border:1px dashed #B4A68B; height:90px; width:300px;  text-align:left; }